[submodule "themes/contrast"]
	path = themes/contrast
	url = https://github.com/niklasbuschmann/contrast-hugo.git
[submodule "public"]
	path = public
	url = https://github.com/dusunceegzersizi/public.git
